PORT=4000
MONGO_URI=mongodb+srv://geopramtech_db_user:bZZA50KjO6AT1382@cluster0.58midep.mongodb.net/?appName=Cluster0
JWT_SECRET=d44d56ec39e2c8d400dafd94da658dce5e8f20d7e5d87d04883250c642e00781
ADMIN_EMAIL=geopramtech@gmail.com
ADMIN_PASSWORD=GeoPramTech@7222
MPESA_CONSUMER_KEY=zy6Tc09PA8eteY3Mf5MVmiA590zOFgnPGmYJnCpJVdbF3ZeG
MPESA_CONSUMER_SECRET=KZ7pRIGv7y0FrdPThgVxxrvXHQhX8kHkj7XtRZLSKQxgMzA1RleTEMcSMnGscGiA
MPESA_SHORTCODE=4574727
MPESA_TILL_NUMBER=8112723
MPESA_PASSKEY=9d09b38cbf40d3dc7bb1b627954f9e22129fdc4b7273353279209905e96ce031
MPESA_CALLBACK_URL=http://localhost:4000/payments/callback
